   <div>
    <label
      id="listbox-label"
      class="block tracking-wide font-medium text-[#344054] lg:text-base text-sm mb-2"
      >{{ title }}</label
    >
    <div class="relative mt-1" id="parent">
      <button
        type="button"
        class="relative text-black block pl-[20px] border-2 border-[#D0D5DD] w-full outline-0 rounded-[8px] h-14 lg:text-base placeholder:text-[#667085] outline-none bg-white p-4 py-4 cursor-pointer  pr-10 text-left shadow-sm focus:outline-none sm:text-sm"
        aria-haspopup="listbox"
        aria-expanded="true"
        aria-labelledby="listbox-label"
        (click)="show = !show"
      >
        <span class="block truncate">{{ defaultText }}</span>
        <span
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
        >
          <svg
            class="h-5 w-5 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>
      <ul
        class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
        tabindex="-1"
        role="listbox"
        aria-labelledby="listbox-label"
        id="dropdown"
        aria-activedescendant="listbox-option-3"
        *ngIf="show"
      >
        <ng-container *ngIf="options.length >= 1; else elseTemplate">
          <li
            class="text-gray-900 relative w-full cursor-pointer py-2 pl-8 pr-4"
            id="listbox-option-0"
            role="option"
            (click)="selectValue(item.name || item, item.value || item)"
            *ngFor="let item of options"
          >
          <span class="font-normal block truncate">{{
            item.name || item
          }}</span>          <span
              class="text-indigo-600 absolute inset-y-0 left-0 flex items-center pl-1.5"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </li>
        </ng-container>
        <ng-template #elseTemplate>
          <p class="m-3">No Item</p>
        </ng-template>
      </ul>
    </div>
  </div>
  