<div class="border-b-2 mb-3">
  <h3 class="text-2xl font-medium text-[#101828] mb-2">
    VAC system integrates Partner’s API
  </h3>
  <p class="text-[#475467] mb-4">
    Connect with VAC API and test in your environment for result.
  </p>
</div>

<form [formGroup]="vacApiSetupForm">
              
  <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
    <div class="w-full md:w-1/2 px-3  md:mb-0">
      <label for="secretkey" class="text-base text-[#6E7A91] mb-2">Faculty
        <span class="text-danger">*</span> </label>
      <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px] pr-[60px] border border-[#D0D5DD] outline-0 rounded-[8px] h-14  w-full'
              "
              [placeholder]="'Faculty'"
              [control]="$any(vacApiSetupForm.get('facultyId'))"
              [errorMessage]="'Faculty is Required'"
              [required]="true"
            >
            </app-app-text-input>
    </div>
    <div class="w-full md:w-1/2 px-3  md:mb-0">
      <label for="secretkey" class="text-base text-[#6E7A91] mb-2">Department
        <span class="text-danger">*</span> </label>
      
  <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px] pr-[60px] border border-[#D0D5DD] outline-0 rounded-[8px] h-14  w-full'
              "
              [placeholder]="'Enter your Department'"
              [control]="$any(vacApiSetupForm.get('departmentId'))"
              [errorMessage]="'Department is Required'"
              [required]="true"
            >
            </app-app-text-input>
    </div>
  </div>
  <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mb-6">
    <div class="w-full md:w-1/2 px-3  md:mb-0">
      <label for="secretkey" class="text-base text-[#6E7A91] mb-2">Degree type
        <span class="text-danger">*</span> </label>
      <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px] pr-[60px] border border-[#D0D5DD] outline-0 rounded-[8px] h-14  w-full'
              "
              [placeholder]="'Enter your Degree Type'"
              [control]="$any(vacApiSetupForm.get('degreeTypeId'))"
              [errorMessage]="'Degree type is Required'"
              [required]="true"
            >
            </app-app-text-input>
    </div>
    <div class="w-full md:w-1/2 px-3  md:mb-0">
      <label for="secretkey" class="text-base text-[#6E7A91] mb-2">Year of Graduation
        <span class="text-danger">*</span> </label>
      
        <ng-select class=""
        formControlName="yearOfGraduation"
        [selectOnTab]="true"
        placeholder="Select year of graduation"

        >
        <ng-option *ngFor="let unit of years" [value]="unit">{{unit}}</ng-option>
    </ng-select>
    </div>
  </div>
 
</form>

<div class="flex items-center mb-4 gap-6">
  <p class="cursor-pointer" routerLink="/main/test-environment/test-system-API/system-request-parameter" routerLinkActive
    #activeLink="routerLinkActive" [ngClass]="activeLink.isActive ? 'active' : 'text-[#667085] font-medium'">
    VAC System Request Parameters
  </p>
  <p class="cursor-pointer" routerLink="/main/test-environment/test-system-API/response-parameter" routerLinkActive
    #activeLink1="routerLinkActive" [ngClass]="activeLink1.isActive ? 'active' : 'text-[#667085] font-medium'">
    API Response Parameter
  </p>
</div>
<div>
  <app-editor [code]="codeStructure"></app-editor>
</div>
<!-- <router-outlet></router-outlet> -->
<div class="mt-4">
  <app-app-button [overRideButtonClass]="true" [disabled]="vacApiSetupForm.invalid" [status]="status"
(buttonClick)="partnerApi()" [customClass]="
  'btn bg-[#4086EF] hover:bg-[#1059C6] capitalize w-fit outline-0 border-0 py-3 rounded-lg px-6 md:text-sm text-white'
" [buttonText]="'Submit'"></app-app-button>
</div>