<div class="px-2 bg-white ml-32 flex justify-center items-center">
  <div class="py-12">
    <div class="border-b border-b-[#EAECF0] w-fit mb-4 text-center px-4">
      <p class="py-3 text-[#101828] font-medium">Partners Data Migration</p>
    </div>
    <div
      *ngFor="let route of routes"
      class="flex gap-3 rounded-xl group items-center cursor-pointer px-4 py-3 w-full mb-1"
      [routerLink]="route.routePath"
      routerLinkActive
      #activeLink="routerLinkActive"
      [routerLinkActiveOptions]="{ exact : route.exact || false }"
      [ngClass]="activeLink.isActive ? 'active-link' : ''"
    >
      <p
        class="text-[#667085] text-base group-hover:text-[#1368EC] font-medium leading-6 m-0"
      >
        {{ route.routeName }}
      </p>
    </div>
  </div>
</div>

