<div class="mb-8">
  <h3 class="text-2xl font-semibold text-[#101828] mb-2">
    Welcome to VAC SandBox
  </h3>
  <p class="text-[#475467] mb-9">
    Test API and Migrate partner data with ease.
  </p>
  <div class="bg-white p-10 rounded-lg">
    <h4 class="text-2xl font-semibold text-[#101828] mb-2">
      Partner Data Migration
    </h4>
    <p class="text-[#475467] mb-10">
      Partners can migrate their students' data to the VAC system using any of
      the ways listed below:
    </p>
    <ul class="list-decimal pl-4">
      <li class="mb-3">Partner integrates VAC system’s API</li>
      <li>VAC system integrates Partner’s API</li>
    </ul>
  </div>
</div>
<div class="bg-white p-8 rounded-lg">
  <h2 class="text-2xl font-semibold text-[#101828] mb-2">
    VAC System integrates Institution’s API
  </h2>
  <p class="text-[#475467] mb-8">
    This allows institutions to test their APIs on our sandbox application
    before moving to production environment.
  </p>
  <ul class="list-decimal text-[#475467] pl-4">
    <li>
      Institutions must follow VAC system’s API standard which will be provided
      on our platform
    </li>
    <li>Institutions can test their API on our sandbox environment.</li>
    <li>
      On completion of testing, the institution can configure their APIs on the
      live environment.
    </li>
  </ul>
</div>
