<div
  class="w-full sticky top-0 px-16 py-6 flex justify-between items-center border border-solid border-t-0 border-l-0 border-r-0"
>
  <div>
    <img
      class="cursor-pointer"
      src="assets/images/Sandboxlogo.png"
      alt="Sandbox"
      routerLink="/"
    />
  </div>
</div>
<div [ngSwitch]="currentState">
  <div class="px-6" *ngSwitchDefault>
    <div (click)="back()" class="flex cursor-pointer items-center mt-8 pl-8 gap-2">
        <img src="assets/images/back.png" alt="">
        <p  class="text-[#667085] text-sm  font-medium "> Back </p>
    </div>

    <div >
      <div class="max-w-md mx-auto">
        <div class="mb-8">
          <img
            class="mx-auto mb-8 w-[20%]"
            src="assets/images/icon.png"
            alt="forgot-password"
          />
          <p
            class="mb-2.5 text-[#101828] text-2xl text-center font-bold"
          >
          Forget Password ?
          </p>
          <p
            class="mb-12 text-base text-[#667085]  text-center"
          >
          Forget your login credential? Don’t worry you can reset it in simply steps.          </p>
        </div>
        <form [formGroup]="forgotPassword">
          <div class="text-base text-[#344054] mb-2">
            <label for="Profile Identifier">Profile Identifier</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px] border border-[#D0D5DD] pr-[60px] outline-0 rounded-[8px] h-14  w-full'
              "
              [placeholder]="'Enter your identifier'"
              [control]="$any(forgotPassword.get('identifier'))"
              [errorMessage]="'identifier is Required'"
              [required]="true"
            >
            </app-app-text-input>
            <img
              *ngIf="forgotPassword.value.email?.length"
              class="w-4 h-4 cursor-pointer absolute right-5 top-1/2 translate-y-[-50%]"
              src="assets/images/minus.svg"
              alt="minus"
              (click)="clearInput('email')"
            />
          </div>
      
          <div class="mb-10 mt-5">
            <app-app-button
              [overRideButtonClass]="true"
              [disabled]="forgotPassword.invalid || status === 'LOADING'"
              [status]="status"
              [customClass]="
                'btn bg-[#4086EF] hover:bg-[#4086EF] capitalize flex justify-center w-full py-[12px] rounded-[10px] px-[24px] text-center cursor-pointer md:text-base text-white'
              "
              [buttonText]="'Reset Password'"
              (buttonClick)="resetPassword()"
            ></app-app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-email-sent
    *ngSwitchCase="'success'"
    [email]="forgotPassword.value.email"
  ></app-email-sent>
</div>
