<div class="w-[541px] bg-white p-8 rounded-xl flex flex-col items-center">
  <img class="mb-8 mx-auto" [src]="data.image" alt="modal-image" />
  <h2 class="text-[#1059C6] md:text-lg font-bold mb-8">{{ data.title }}</h2>
  <p class="mb-8">{{ data.content }}</p>
  <app-app-button
    [overRideButtonClass]="true"
    [buttonText]="data.acceptText"
    (buttonClick)="confirm()"
    [customClass]="
      'btn bg-[#4086EF] mb-4 hover:bg-[#4086EF] capitalize flex justify-center w-full py-3 outline-0 border-0 rounded-xl px-6 text-center md:text-base text-white'
    "
    [buttonText]="'Submit'"
  ></app-app-button>
  <app-app-button
    [overRideButtonClass]="true"
    [buttonText]="data.cancelText"
    (buttonClick)="close()"
    [customClass]="
      'btn bg-[#4086EF] hover:bg-[#4086EF] capitalize flex justify-center w-full py-3 outline-0 border-0 rounded-xl px-6 text-center md:text-base text-white'
    "
    [buttonText]="'Submit'"
  ></app-app-button>
</div>
