<div class="grid md:grid-cols-[60%_40%] h-screen overflow-hidden">
  <div class="h-screen w-full hidden md:block sideOne">
    <div class="flex items-center justify-center h-screen">
      <div class="mb-5 w-4/5">
        <h6 class="font-inter mb-10 font-medium text-[72px] leading-10 text-white">
          VAC Sandbox.
        </h6>
        <p class="text-xl font-medium leading-9 text-[#D7E7FE]">
          Our platform provides a simple, yet powerful, environment for testing
          your API integrations. With our Sandbox, you can test your APIs
          without worrying about impacting the production environment.
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-full flex justify-center items-center p-6  md:px-10 md:py-5 md:mx-auto overflow-y-auto"
  >
    <div class="">
      <div>
        <img class="mb-3" src="assets/images/vaclogo.png" alt="" />
        <p class="text-lg mb-8 font-bold">
          Sign up today and see how easy it is to test your APIs in our Sandbox
          environment!
        </p>
      </div>
      <form [formGroup]="signUp">
        <div class="mb-4">
          <div class="text-base text-[##344054] mb-2">
            <label for="first name">First Name</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px]  outline-0 rounded-[8px] h-14 border border-[#D0D5DD] w-full'
              "
              [placeholder]="'Enter first name address'"
              [control]="$any(signUp.get('firstName'))"
              [errorMessage]="'First Name is Required'"
              [required]="true"
            >
            </app-app-text-input>
          </div>
        </div>
        <div class="mb-4">
          <div class="text-base text-[##344054] mb-2">
            <label for="last name">Last Name</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px]  outline-0 rounded-[8px] h-14 border border-[#D0D5DD] w-full'
              "
              [placeholder]="'Enter last name address'"
              [control]="$any(signUp.get('lastName'))"
              [errorMessage]="'Last Name is Required'"
              [required]="true"
            >
            </app-app-text-input>
          </div>
        </div>
        <div class="mb-4">
          <label
            for=""
            class="block tracking-wide text-[##344054] lg:text-base text-sm mb-2"
            >Phone Number
          </label>
          <app-app-number-input
            [class]="
              ' placeholder:text-[#667085] text-black block pl-[20px]  outline-0 rounded-[8px] h-14 border border-[#D0D5DD] w-full'
            "
            [placeholder]="'Enter phone number'"
            [control]="$any(signUp.get('phone'))"
            [errorMessage]="'Phone number is required'"
          >
          </app-app-number-input>
        </div>
        <div class="mb-4">
          <div class="text-base text-[##344054] mb-2">
            <label for="identifer">Profile Identifier</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-text-input
              [class]="
                ' placeholder:text-[#667085] text-black block pl-[20px]  outline-0 rounded-[8px] h-14 border border-[#D0D5DD] w-full'
              "
              [placeholder]="'identifer'"
              [control]="$any(signUp.get('identifier'))"
              [errorMessage]="'identifer is Required'"
              [required]="true"
            >
            </app-app-text-input>
          </div>
        </div>
        <p class="text-sm font-normal mb-8">
          This can be found in your profile page on the VAC application.
        </p>
        <div class="mb-3">
          <app-app-button
            [overRideButtonClass]="true"
            [disabled]="signUp.invalid || status === 'LOADING'"
            [status]="status"
            (buttonClick)="signUpButton()"
            [customClass]="
              'btn bg-[#4086EF] hover:bg-[#4086EF] outline-o border-0 capitalize flex justify-center w-full py-3 rounded-xl px-6 text-center md:text-base text-white'
            "
            [buttonText]="'Continue'"
          ></app-app-button>
        </div>
      </form>
      <p class="text-sm font-normal text-center">
        Already have an account? <span
          class="text-[#1368EC] font-semibold cursor-pointer"
          routerLink="/"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
