<div
  class="w-full sticky top-0 px-16 py-6 flex justify-between items-center border border-solid border-t-0 border-l-0 border-r-0"
>
  <div>
    <img
      class="cursor-pointer"
      src="assets/images/Sandboxlogo.svg"
      alt="Sandbox"
      routerLink="/auth"
    />
  </div>
</div>
<div class="px-6">
  <div
    (click)="back()"
    class="flex cursor-pointer items-center mt-8 pl-8 gap-2"
  >
    <img src="assets/images/back.png" alt="" />
    <p class="text-[#667085] text-sm font-medium">Back</p>
  </div>
  <div>
    <div class="max-w-md mx-auto">
      <div>
        <div>
          <img
            class="mx-auto mb-8"
            src="assets/images/icon.png"
            alt="send-email"
          />
        </div>
        <div
          class="text-center text-[#101828] text-[2.2rem] font-extrabold mb-4"
        >
          Password reset link shared
        </div>
        <p class="text-center text-[#475467]">
          A Password reset link has been sent to your email
          <span class="text-[#475467]">({{ email }})</span>. Kindly follow the
          instruction to reset your password, so you can keep enjoying your
          access to CDAL Aggregator platform.
        </p>
        <p class="text-center text-[#475467] mt-6">
          If you can’t find the mail in your main inbox folder, check your spam
          folder.
        </p>
      </div>
    </div>
  </div>
</div>
