<div class="grid md:grid-cols-[60%_40%]">
  <div class="h-screen hidden md:block sideOne">
    <div class="flex items-center justify-center h-screen">
      <div class="mb-5 w-4/5">
        <!-- <h6
          class="font-inter mb-10 font-medium text-[72px] leading-10 text-white"
        >
          VAC Sandbox.
        </h6> -->
        <img class="mb-3" src="assets/images/logo-trans.svg" alt="" />
        <p class="text-xl font-medium leading-9 text-[#D7E7FE]">
          Our platform provides a simple, yet powerful, environment for testing
          your API integrations. With our Sandbox, you can test your APIs
          without worrying about impacting the production environment.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full my-auto p-6 md:p-10">
    <div class="">
      <img class="mb-8" src="assets/images/Sandboxlogo.svg" alt="" />

      <div
        class="bg-[#ECFDF3] mb-4 items-center p-1 flex gap-3 md:w-60 justify-center lg:justify-start text-xs text-[#0D47A1] rounded-xl"
      >
        <p class="bg-[#12B76A] text-[10px] text-white px-3 py-1 rounded-xl">
          Successfully
        </p>
        <p class="text-[#039855] text-[10px]">Partner Institution Found</p>
      </div>

      <p class="text-lg mb-3 w-full text-black">Welcome, UNILAG</p>
      <p class="text-black text-3xl mb-4 font-medium">Set up your password</p>

      <form [formGroup]="password">
        <div class="relative w-full mt-2">
          <div class="text-base text-[#6E7A91] mb-2">
            <label for="">Password</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-password-input
              [class]="
                ' placeholder:text-[#A0AABD] text-black block h-14 pl-[20px]  outline-0 bg-white rounded-[8px] border border-[#D0D5DD] w-full'
              "
              [placeholder]="'Enter password'"
              [control]="$any(password.get('newPassword'))"
              [errorMessage]="password.get('newPassword')?.errors?.['minlength']? 'New password must not be less than 8 character' : 'Password is Required'"
              [required]="true"
            >
            </app-app-password-input>
          </div>
        </div>
        <div class="relative w-full mt-8">
          <div class="text-base text-[#6E7A91] mb-2">
            <label for="">Confirm Password</label>
          </div>
          <div class="relative w-full mt-2">
            <app-app-password-input
              [class]="
                ' placeholder:text-[#A0AABD] text-black block h-14 pl-[20px]  outline-0 rounded-[8px] border border-[#D0D5DD] w-full'
              "
              [placeholder]="'Enter password'"
              [control]="$any(password.get('confirmPassword'))"
              [errorMessage]="password.get('confirmPassword')?.errors?.['required'] ? 'Password is Required' : ''"
              [required]="true"
            >
            </app-app-password-input>
          </div>
          <small
            class="text-red-500 mt-1"
            [class.hidden]="password.valid || password.untouched"
            *ngIf="password.errors?.['match_error']"
          >
            Values does not match
          </small>
        </div>
        <div class="mb-10 mt-5">
          <app-app-button
            [overRideButtonClass]="true"
            [status]="status"
            [disabled]="password.invalid || status === 'LOADING'"
            [customClass]="
              'btn bg-[#4086EF] hover:bg-[#4086EF] capitalize flex justify-center w-full py-[12px] outline-0 border-0 rounded-[10px] px-[24px] text-center md:text-base text-white'
            "
            [buttonText]="'Save and Continue'"
            (buttonClick)="resetPassword()"
          ></app-app-button>
        </div>
      </form>
      <p class="text-sm font-normal text-center">
        Already have an account?
        <span
          class="text-[#1368EC] font-medium cursor-pointer"
          routerLink="/"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
