<div class="grid md:grid-cols-[60%_40%]">
  <div class="h-screen hidden md:block sideOne">
    <div class="flex items-center justify-center h-screen">
      <div class="mb-5 w-4/5">
        <!-- <h6
          class="font-inter mb-10 font-medium text-[72px] leading-10 text-white"
        >
          VAC Sandbox.
        </h6> -->
        <img class="mb-3" src="assets/images/logo-trans.svg" alt="" />
        <p class="text-xl font-medium leading-9 text-[#D7E7FE]">
          Our platform provides a simple, yet powerful, environment for testing
          your API integrations. With our Sandbox, you can test your APIs
          without worrying about impacting the production environment.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full my-auto p-6 md:p-10">
    <div class="">
      <img class="mb-8" src="assets/images/Sandboxlogo.svg" alt="" />

      <div
        class="bg-[#ECFDF3] mb-4 items-center p-1 flex gap-3 md:w-60 justify-center lg:justify-start text-xs text-[#0D47A1] rounded-xl"
      >
        <p class="bg-[#12B76A] text-[10px] text-white px-3 py-1 rounded-xl">
          Successful
        </p>
        <!-- <p class="text-[#039855] text-[10px]">Partner Institution Found</p> -->
      </div>

      <h4 class="text-black text-3xl mb-4 font-medium">Email verification</h4>
      <p class="leading-6 text-black text-sm  font-medium mb-8">We’ve sent a unique code to 
        in order to verify your email address. Please enter the code below.</p>
      <form [formGroup]="password">
        <div class="mb-8">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 4 }"></ng-otp-input>
        </div>

        <div class="flex justify-start items-center my-6">
          <p class="font-sans font-semibold text-sm text-[#2F4662]">
            Code will expire in
          </p>
          <div class="mx-2">
            <i class="fa fa-clock text-placeholderText"></i>
          </div>
          <div class="text-asteriskRed bg-[#E7F6F7] font-semibold font-sans text-danger px-3 py-1 rouded">{{timeDisplay}}</div>
        </div>
        <div class="mb-10 mt-5">
          <app-app-button
            [overRideButtonClass]="true"
            [status]="status"
            [disabled]="otplength?.length !== 4"
            [customClass]="
              'btn bg-[#4086EF] hover:bg-[#4086EF] capitalize flex justify-center w-full py-[12px] outline-0 border-0 rounded-[10px] px-[24px] text-center md:text-base text-white'
            "
            [buttonText]="'Save and Continue'"
            (buttonClick)="resetPassword()"
          ></app-app-button>
        </div>

        <div class="mb-8">
          <p *ngIf="hideResend === true" class="font-nunito font-normal text-sm text-lightGray">Didnt get the code? <span (click)="resendOTP()"
              class="cursor-pointer text-primaryBlue font-medium">Resend</span> </p>
        </div>
      </form>
      <p class="text-sm font-normal text-center">
        Already have an account?
        <span
          class="text-[#1368EC] font-medium cursor-pointer"
          routerLink="/"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
