<div class="border-b-2 mb-3">
  <h3 class="text-2xl font-medium text-[#101828] mb-2">
    VAC system integrates Partner’s API
  </h3>
  <p class="text-[#475467] mb-4">
    Test your partner API on the VAC sandbox system to see how it fit, detect
    problem that may arise etc.
  </p>
</div>
<div class="flex items-center mb-4 gap-6">
  <p class="cursor-pointer text-[#667085] font-medium pb-3" *ngFor="let item of mockData; let i = index"
    (click)="selectTab(i)" [ngClass]="{'active': activeTab?.tabName === item.tabName}">
    {{item.tabName}}
  </p>
</div>
<div>
 
<ng-container *ngIf="activeTab?.slug === 'encrypt'">
  
    <div class="border-b-2 mt-8 flex items-center justify-between">
      <div>
        <h3 class="text-lg font-medium text-[#101828]">Data Encryption</h3>
        <p class="text-[#475467] mb-4">Please put sample payload in this editor so you can encrypt it</p>
      </div>
      
    </div>
    <div class="my-11">
      <app-editor  [editorOptions]="activeTab.editorOptions" (editorPayload)="codePayload($event)"></app-editor>
      
    </div>
    <div>
      <app-app-button [overRideButtonClass]="true"
    (buttonClick)="testEncryption()" [customClass]="
      'btn bg-[#4086EF] hover:bg-[#1059C6] capitalize w-fit outline-0 border-0 py-3 rounded-lg px-6 md:text-sm text-white'
    " [buttonText]="'Encrypt'"></app-app-button>
    </div>
    <div class="mt-3" *ngIf="showEncryptedData === true"> {{showEncryptedData}}

      <textarea name="" [value]="encryptedData" class="p-3 bg-white h-40 rounded w-full" readonly id="" ></textarea>
      <p class="text-red-500 text-sm mb-4">Please copy this encrypted data if you wish to decrypt it.</p>
    </div>
</ng-container>
<ng-container *ngIf="activeTab?.slug === 'decrypt'">
  
    <div class="border-b-2 mt-8 flex items-center justify-between">
      <div>
        <h3 class="text-lg font-medium text-[#101828]">Decrypt Payload</h3>
        <p class="text-[#475467] mb-4">Please paste the encrypted payload in the box below to decrypt</p>
      </div>
  
    </div>
    <div class="mt-4 grid gap-4 md:grid-cols-[1fr_auto]">
      <div class="grid grid-cols-[auto_1fr]">
        <label
          class="text-base font-medium text-[#101828] bg-white px-[14px] py-[10px] rounded-l-lg border border-solid border-[#D0D5DD]"
          for="partner api endpoint">Encrypted Payload</label>
        <input [class]="
            ' placeholder:text-[#667085] text-black bg-white block pl-[20px] pr-[60px] border border-solid border-l-0 border-[#D0D5DD] outline-0 rounded-r-[8px] py-3'
          " [placeholder]="'Enter enter encrypted payload'" name="{{activeTab?.apiUrl}}" [(ngModel)]="activeTab.apiUrl">
      </div>
      <app-app-button [overRideButtonClass]="true" [disabled]="activeTab.apiUrl === ''" [status]="status"
        (buttonClick)="decryptEncryptedData()" [customClass]="
          'btn bg-[#4086EF] hover:bg-[#1059C6] capitalize w-full outline-0 border-0 py-3 rounded-lg px-6 md:text-sm text-white'
        " [buttonText]="'Decrypt'"></app-app-button>
    </div>
    <div class="my-11">
      <app-editor [code]="code"  [editorOptions]="activeTab.editorOptions" (editorPayload)="codePayload($event)"></app-editor>
    </div>
   
</ng-container>
<ng-container *ngIf="activeTab?.slug === 'record'">
  
    <div class="border-b-2 mt-8 flex items-center justify-between">
      <div>
        <h3 class="text-lg font-medium text-[#101828]">API Test Result</h3>
        <p class="text-[#475467] mb-4">API query result would appear below</p>
      </div>
  
    </div>
    <div class="my-11">
      <app-editor [code]="code"  [editorOptions]="activeTab.editorOptions" (editorPayload)="codePayload($event)"></app-editor>
    </div>
    <div>
      <app-app-button [overRideButtonClass]="true"
    (buttonClick)="testAPI()" [customClass]="
      'btn bg-[#4086EF] hover:bg-[#1059C6] capitalize w-fit outline-0 border-0 py-3 rounded-lg px-6 md:text-sm text-white'
    " [buttonText]="'Test'"></app-app-button>
    </div>
</ng-container>
<ng-container *ngIf="activeTab?.slug === 'config'">
  
    <div class="border-b-2 mt-8 flex items-center justify-between">
      <div>
        <h3 class="text-lg font-medium text-[#101828]">Test Institution Configuration</h3>
        <p class="text-[#475467] mb-4">Results from you test configuration endpoint is displayed below</p>
      </div>
  
    </div>
    <div class="my-11">
      <app-editor [code]="institutionConfigData"  [editorOptions]="activeTab.editorOptions" (editorPayload)="codePayload($event)"></app-editor>
    </div>
    <div>
      <!-- <app-app-button [overRideButtonClass]="true"
    (buttonClick)="testAPI()" [customClass]="
      'btn bg-[#4086EF] hover:bg-[#1059C6] capitalize w-fit outline-0 border-0 py-3 rounded-lg px-6 md:text-sm text-white'
    " [buttonText]="'Test'"></app-app-button> -->
    </div>
</ng-container>
</div>
